/* ===== Scrollbar  CSS ===== */

* ::-webkit-scrollbar{
    width: 12px;

}

* ::-webkit-scrollbar-track{
    background-color: transparentb
    
    }

* ::-webkit-scrollbar-thumb{
    background-color: transparent;
    border-radius: 10 px;
    border: 3px solid whitesmoke;
    
}